@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// HEADER

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding-left: 35px;
    padding-right: 45px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
    line-height: 22px;
  }
  &__list-link--active {
    padding-bottom: 4px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      border-radius: 1px;
      background-color: rgba($title, 0.7);
    }
  }
}

.rightside-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  max-width: 694px;
  background-color: white;
  padding-top: 40px;
  box-shadow: 1px 6px 8px 0px #000;
  transition: all 0.5s;
  &.rightside-menu--close {
    transform: translateX(500%);
  }
  &__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 50px;
    margin-bottom: 60px;
  }
  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }
  &__logo {
    margin-bottom: 40px;
    display: inline-block;
  }
  &__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 15px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      max-width: 252px;
      margin: 0 auto;
      left: 0;
      right: 0;
      height: 1px;
      background: $line;
    }
  }
  &__text {
    margin-bottom: 75px;
  }
  &__images {
    max-width: 485px;
  }
}

// breadcrumbs

.breadcrumbs {
  padding: 13px 14px;
  background-color: rgba(#dfdfdf, 0.5);
  &__list {
    display: flex;
  }
  &__item::after {
    content: '/';
    margin-right: 4px;
  }
  &__item:last-child::after {
    display: none;
  }
  &__link {
    font-size: 14px;
    color: $default;
    &:hover {
      text-decoration: underline;
    }
  }
}

// FOOTER

.footer {
  &__content {
    background-color: #dfdfdf;
    padding: 60px 0 80px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__contact {
    width: 540px;
  }
  &__info-title {
    color: $title;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
  }
  &__info-text {
    margin-bottom: 16px;
    max-width: 475px;
  }
  &__info-email {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: $title;
    margin-bottom: 22px;
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      background-image: url(../images/envelope.svg);
      left: 0;
      top: 8px;
      width: 16px;
      height: 12px;
      position: absolute;
    }
  }
  &__form {
    display: flex;
  }
  &__form-input {
    padding: 6px 10px 6px 18px;
    border: 1px solid rgba($title, 0.7);
    border-radius: 21px;
    background-color: transparent;
    width: 100%;
    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 27;
      color: #a1a1a1;
    }
  }
  &__form-button {
    background-color: $title;
    border-radius: 21px;
    border: none;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 16px;
    color: #fffff0;
    min-width: 160px;
    margin-left: 9px;
    cursor: pointer;
  }
  &__social {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }
  &__social-link {
    padding-left: 28px;
    position: relative;
    &::before {
      content: '';
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
      position: absolute;
    }
  }
  &__social-link--facebook::before {
    content: '';
    background-image: url(../images/facebook.svg);
  }
  &__social-link--instagram::before {
    content: '';
    background-image: url(../images/instagram.svg);
    width: 14px;
    height: 14px;
    top: 4px;
  }
  &__social-link--pinterest::before {
    content: '';
    background-image: url(../images/Pinterest.svg);
  }
  &__social-link--youtube::before {
    content: '';
    background-image: url(../images/youtube.svg);
    width: 18px;
    height: 12px;
    top: 4px;
  }
  &__social-link--whatsapp::before {
    content: '';
    background-image: url(../images/whatsapp.svg);
    width: 14px;
    height: 14px;
    top: 4px;
  }
  &__social-item,
  &__menu-item {
    margin-bottom: 15px;
  }
  &__social-link,
  &__menu-link {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
  }
  &__menu {
    margin-right: 60px;
    width: 130px;
  }
  &__copyright {
    background-color: $title;
    color: #a1a1a1;
    text-align: center;
    padding: 42px 0 41px;
  }
}

// TOP

.top {
  &__inner {
    padding-bottom: 70px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/slider-bg.jpg);
      width: 100%;
      height: 722px;
      top: 0;
      z-index: -1;
    }
  }
  &__slider-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &__slider-img {
    margin-left: -10%;
    max-width: 703px;
    height: 815px;
    object-fit: cover;
  }
  &__slider-info {
    max-width: 635px;
    margin-left: 25px;
  }
  &__slider-title {
    color: $title;
    font-size: 110px;
    line-height: 135px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;
    @extend %title-font;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 185px;
      left: 0;
      height: 1px;
      background: $line;
    }
  }
  &__slider-text {
    max-width: 585px;
  }
}

// new collection

.new-collection {
  &__inner {
    text-align: center;
    padding: 45px 0 105px;
  }
  &__title {
    color: $title;
    font-size: 36px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    @extend %title-font;
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      background-color: $line;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 250px;
      margin: 0 auto;
    }
  }
  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  &__item {
    position: relative;
    overflow: hidden;
    &:hover {
      .collection__info {
        opacity: 1;
      }
      .collection__images {
        transform: scale(1.2);
      }
    }
  }
  &__images {
    min-height: 350px;
    object-fit: cover;
    transition: all 1s;
  }
  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#fff, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
  }
  &__info-title {
    @extend %title-font;
    font-size: 20px;
    line-height: 25px;
    color: $title;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;
    &::after {
      content: '';
      bottom: 0;
      position: absolute;
      background: $line;
      height: 1px;
      width: 80%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &__info-text {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
}

// DECOR

.decor {
  padding: 170px 0 155px;
  background-image: url(../images/decor-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    @extend %title-font;
    font-size: 60px;
    line-height: 80px;
    color: $title;
    max-width: 737px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 200px;
      height: 1px;
      bottom: 0;
      background: $line;
    }
  }
  &__text {
    max-width: 540px;
  }
}

// WORKS PATH
.works-path {
  padding: 80px 0 30px;
  &__title {
    @extend %title-font;
    color: $title;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid rgba($title, 0.7);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $title;
      bottom: -5px;
      left: 0;
    }
  }
  &__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
  }
  &__item-title {
    @extend %title-font;
    color: $title;
    line-height: 23px;
    margin-left: 13px;
  }
  &__item-text {
    margin-top: 13px;
  }
  &__item--production {
    margin-left: 336px;
    &::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 2px;
      background-color: rgba($title, 0.7);
      bottom: 0;
      left: 0;
    }
  }
  &__item--consultation,
  &__item--production {
    padding-bottom: 38px;
  }
  &__item--measurements {
    margin-left: 306px;
    padding-top: 38px;
    &::after {
      content: '';
      position: absolute;
      height: 20px;
      width: 2px;
      background-color: rgba($title, 0.7);
      top: 0;
      left: 0;
    }
  }
}

// GALLERY
.gallery {
  padding: 80px 0 90px;
  &__buttons {
    text-align: center;
    margin-bottom: 40px;
  }
  &__btn {
    margin: 0 13px;
    padding: 6px 16px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #454647;
    color: #8f8d8d;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background-color: #ffef35;
      border-color: #ffef35;
      color: $title;
    }
  }
  .mixitup-control-active {
    background-color: #ffef35;
    border-color: #ffef35;
    opacity: none;
    color: $title;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 35px;
  }
  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  &__item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1150px;
  }
}

// BLOG-BOX
.blog-box {
  padding-bottom: 100px;
  &__title {
    @extend %title-font;
    color: $title;
    font-weight: 700;
    line-height: 51px;
    font-size: 36px;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 430px;
  }
  &__items {
    display: flex;
    column-gap: 30px;
  }
  &__img-link {
    display: inline-block;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &__img {
    max-width: 540px;
    object-fit: cover;
    transition: all 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__links {
    display: flex;
    margin-bottom: 9px;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
  }
  &__links > * {
    &::after {
      content: '|';
      margin: 0 4px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &__date,
  &__author,
  &__theme {
    color: inherit;
  }
  &__item-title {
    @extend %title-font;
    color: $title;
    font-size: 24px;
    line-height: 38px;
  }
}

// ABOUT

.about {
  &__prev {
    padding: 160px 0;
    background-image: url(../images/about-prev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    margin-top: -53px;
  }
  &__prev-title {
    @extend %title-font;
    color: $title;
    font-size: 60px;
    line-height: 80px;
  }
  &__content {
    padding: 130px 0 40px;
  }
  &__title {
    @extend %title-font;
    color: $title;
    font-size: 36px;
    line-height: 60px;
    max-width: 822px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 200px;
      background-color: $line;
    }
  }
  &__text {
    padding-left: 284px;
    p {
      margin-bottom: 30px;
    }
  }
  &__popup {
    background-image: url(../images/popup-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
